* {
    box-sizing: border-box;
    text-align: -webkit-center;
}
body{
    font-size: 20px;
    font-family: Montserrat;
    color: #333;
    font-weight: 300;
    text-align: center;
    background-color: #f8f6f0;
    margin: 0px;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

html{
    width: 100%;
    height: 100%;
}

p.question {
    font-size:20px;
    color: #2E2E2E;
    margin-bottom:0px;
}

div.quizAnswers{
    font-size:16px;
    color: #424242;
    padding: 4px 0 4px 0;
}

label {
    font-size:14px;
    color: #424242;
    vertical-align:top;
}

input.answer[type="radio"] {
    margin: 10px;
}

input.quizSubmit[type="submit"] {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-transition-delay: 0s, 0s;
    -webkit-transition-duration: 0.2s, 0.2s;
    -webkit-transition-property: color, background-color;
    -webkit-transition-timing-function: ease, ease;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 5px 0px;
    color: #ffffff;
    background-color: #c30b0a;
    margin: 0;
    border: 0;
    outline: 0;
    text-transform:uppercase;
    height:35px;
    width:85px;
    border: 1px solid #5E5E5E;
    border-radius:5px;
    text-align: -webkit-center;
}

input.quizSubmit[type="submit"]:hover {
    color: #ffffff;
    background: #680f11;
    text-decoration: none;
    text-align: -webkit-center;
}

.submitter {
    width:85px;
    text-align: -webkit-center;
}

.hide {
    display:none;
}


/*Hlavička*/
.nav {
    height: 50px;
    width: 100%;
    background-color: #f2f2f2;
    position: relative;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: black;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #666666;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}


.active{
    border-bottom:  solid #000000;
}
/*O nás*/
.about{
    background: url(../img/islan.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}
.inner-section{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 140px;
    box-shadow: 10px 10px 8px rgba(0,0,0,0.3);
}
.inner-section h1{
    text-shadow: 2px 2px #bdbdbd ;
    color: #666666;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

@media screen and (max-width:1200px){
    .inner-section{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about{
        padding: 0;
    }
    .inner-section{
        padding: 60px;
    }
}
/*Pozadie*/

#container-bg  {
    background: url(../img/map.jpg) no-repeat  center center fixed;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

#test{
    height: 1000px;
}

.content-wrapper {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    position: relative;
    top: 30%;
}

h1{
    font-size: 68px;
    color: #f0f0f0;
    text-shadow: 2px 2px #666666 ;
    margin: 0 ;
}

p{
    font-size: 20px;
}

.content-wrapper p{
    background-color: navajowhite;
    text-transform: uppercase;

    color:black ;
    margin: 20px 0px 60px 0px;
}

.content-wrapper a{
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 8px 16px;
    background-color: #bdbdbd;
    font-size: 22px;
}

.btn-down{
    margin: 0 auto;
    text-align: center;
}

.btn-down .fa{
    color: white;
    font-size: 40px;
    position: absolute;
    bottom: 10px;
    transform: translate(-50%,-50%);
}

#introduction-section {
    margin: 0 auto 0 auto;
    padding: 80px 0px 0px 0px;
    text-align: center;
}

#grid-layout-33{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
    width: 80%;
    margin: 0 auto;
}

#grid-layout-33 > div{
    background-color: #f2f2f2;
    padding: 18px;
    text-align: center;
    box-shadow: 0px 0px 10px #000000;
    margin: 80px auto 40px auto;
}

#grid-layout-33 > div:hover{
    transition: 0.25s ease-in;
    background-color: #ffffff;
}

h2  {
    color: #000000;
    font-size: 42px;
    text-align: center;
}

h3{
    font-size: 20px;
    text-transform: uppercase;
}

h4{
    font-size: 18px;
    text-transform: uppercase;
}

hr{
    width: 30px;
}

#grid-layout-33 .fa{
    color: #666666;
    font-size: 60px;
}

#grid-layout-33 p{
    font-size: 16px;
    color: #666666;
}

#content-video{
    margin: 0 auto;
    text-align: center;
    padding: 80px 0px 0px 0px;
}

iframe{
    margin: 0px 0px 0px 0px;
    width: 560px;
    height: 315px;
    box-shadow: 0px 0px 10px #000000;
    cursor: pointer;
}

/*footer*/
#grid-footer{
    width: 100%;
    box-shadow: 0px 0px 10px #000000;
    margin: 80px 0px 0px 0px;
}

.content-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.4fr;
    grid-gap: 3em;
    padding: 80px 0px;
    width: 80%;
    margin: 0 auto;
}

.content-footer a {
    text-decoration: none;
    color: black;
}

.content-footer a:hover {
    color: #666666;
    transition: 0.25s ease-in;
}

.content-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content-footer ul li{
    padding: 0px 0px 8px 0px;
}

.input-newsletter{
    width: 140px;
    height: 30px;
    display: inline-block;
    border: 1px solid #000000;
    box-shadow: 0px 0px 10px  #000000;
}

.submit-newsletter{
    width: 100px;
    height: 35px;
    margin: 0px 0px 0px 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid #000000;
    box-shadow: 0px 0px 10px  #000000;
}

.container-gallery{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0px;
}

.container-gallery h1{
    color: black;
    margin: 0px 0px 60px 0px;
}

.container-gallery p{
    color: black;
    font-size: 22px;
}


/*Kontakt*/
.wrapper-contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
    width: 80%;
    margin: 0 auto;
}

.wrapper-contact h2{
    font-size: 26px;
}
.wrapper-contact ul {
    padding:0;
}

.wrapper-contact ul li{
    list-style: none;
    margin: 0 0 24px 0;
}

.wrapper-contact ul li a{
    text-decoration: none;
    color: #666666;
}

.wrapper-contact ul li a:hover{
    transition: 0.25s ease-in;
    color: #000000;
}

.wrapper-contact .fa{
    border-radius: 50%;
    background-color: #000000;
    color: #f0f0f0;
    padding: 14px;
    font-size: 24px;
}


label {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0px 0px 8px 0px;
}
input{
    display: block;
    height: 34px;
    margin: 0;
    padding: 0px 8px;
    font-size: 12px;
}

input, textarea {
    width: 400px;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.map-wrapper{
    max-width: 600px;
    border: 2px solid black;
}
.googlemap{
    width: 100%;
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}


@media(max-width: 768px) {

    .container.gallery-container {
        border-radius: 0;
    }
}
textarea {
    height: 140px;
    padding: 8px;
}

/*responsive*/
@media (max-width: 730px){

    .gallery-item{
        position: relative;
        display: block;
    }

    .content-footer{
        text-align: center;
        position: relative;
        display: block;
    }

    #container-bg{
        text-align: center;
    }

    .content-video{
        width: 60%;
        display: block;
        position: relative;
    }


    .wrapper-contact{
        position: relative;
        display: block;

    }

    #grid-layout-33{
        display: block;
        box-sizing: border-box;

    }

    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid black;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(50vh - 50px);
        overflow-y: auto;
    }



}


